@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the initial template! Check out more <a href="https://4qsoftware.net">about me</a>.</p>
</div>
